<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <script>
  class employee{
setvalue(name,salary,id,department){
    this.name=name;
    this.salary=salary;
    this.id=id;
    this.department=department;
}
getvalue(){
    document.write(this.name +"<br>" )
    document.write(this.salary +"<br>")
    document.write(this.id +"<br>")
    document.write(this.department +"<br>")   
}
  }  
  var obj=new employee();
  obj.setvalue("sana",50000,01,"IT");
  obj.getvalue();
  obj.setvalue("Aqsa",30000,02,"Managmnet");
  obj.getvalue();
  obj.setvalue("Tahreema",40000,03,"Accounts");
  obj.getvalue();
  </script>
</body>
</html>